.nav-title {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.8rem;
    margin-left: 0.3rem;
}

.selfDef {
    margin-bottom: -1rem;
}

.pwd-content {
    margin: 2rem 10rem;
}

.userName{
    font-family: 'Allura', cursive;
    font-size: 24px;
}
