.score {
    margin-top: 2rem;
    // width: 80vw;
    .dep {
        width: 70%;
        margin:0 auto;
    }
    .result {
        &-nothing {
            width: 100%;
            margin-bottom: 2rem;
            font-size: x-large;
            display: flex;
            justify-content: center;
            color: rgba($color: #000000, $alpha: 0.3);
        }

        .function {
            display: flex;
            a:hover {
                color: rgba($color: #66FFCC, $alpha: 0.8);
            }
            a:nth-child(2) {            
                margin-left: 1rem;
            }
        }
        &-tb {
            margin-bottom: 1rem;
            .tbc{
                margin: 0 auto;
            }
            .th-description {
                margin-left: 0.4em;
                font-size: 10px;
                color: rgba($color: #000000, $alpha: 0.3);
            }

        }
    }
    .delete-info {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        border: 1px;
        border-color: rgba($color: #000000, $alpha: 0.3);
        border-style: solid;
        border-radius: 10px;
        font-size: 24px;
        color: rgba($color: #000000, $alpha: 0.9)
    }
    .submit {
        display: flex;
        justify-content: flex-end;
        button {
            margin-left: 1rem;
        }
    }

}